<div class="sidebar-wrapper1 row-cols-1" data-simplebar="true">
  <div class="sidebar-header">
    <div class="company-name">
     <!-- <img class="ccm-companyMaintenanceLogo__logo--xs" *ngIf="!!images"      
      [src]="images">
       {{company.companyName}} -->
      KAMOM
    </div>
  </div>
  <div class="main-menu">
  <!--navigation-->
  <mat-accordion class="example-headers-align main-menu" >
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
          Dashboard
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Account Setting
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="padding-left-10px">User Profile</p>  
      <p class="padding-left-10px">Change Password</p>
      <p class="padding-left-10px">Logout</p>  
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ERP
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="padding-left-10px">Company</p>  
      <p class="padding-left-10px">Brokerage</p>
      <p class="padding-left-10px">STT</p>  
      <p class="padding-left-10px">Strategy</p>
    </mat-expansion-panel>
  
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Activity 
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="padding-left-10px">User Brokerage</p>  
      <p class="padding-left-10px">Company Activity</p>
      <p class="padding-left-10px">Company Action</p>
      <p class="padding-left-10px">Activity Strategy</p>  
      <p class="padding-left-10px">Strategy</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
</div>
